

.item-detail-img {
 width: 50%;
 display: block;
 
 margin: auto;
 padding-top: 20px;
 

}
.cont-item-detail {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    
}

.item-detail-img { grid-area: 1 / 1 / 7 / 2; }
.item-detail-name { grid-area: 1 / 2 / 2 / 3; font-size: 50px; display: flex; justify-content: center;}
.item-detail-price { grid-area: 2 / 2 / 3 / 3; }
.item-detail-des { grid-area: 3 / 2 / 4 / 3; }
.item-ditail-count { grid-area: 4 / 2 / 5 / 3;}


