.botton {
    background-color: grey;
    color: white;
    margin: 5px;
    margin-top: 15px;
}

.mensj-checkout {
    font-size: 30px;
    margin-bottom: 20px;
}

.mes-agra {
    font-size: 35px;
    margin-top: 20px;
}

.nro-segui {
    font-size: 15px;
}