.ContenedorNavBar {
    background-color: gray;
    height: 50px;
}

.ListaNavBar {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    
}

.link-ropa {
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
